#title-label {
	padding-right: 1em;
	padding-bottom: 1em;
}

#tags-label {
	display: block;
	padding-top: 1em;
	padding-right: 1em;
}

input[name="proposal-title"] {
	width: 60%;
}

textarea {
	width: 64%;
	height: 200px;
}

input[name="tags"] {
	width: 64%;
}

.submit-proposal {
	background-color: #99d4ff;
	color: #111;
	padding: 5px 24px;
	margin-top: 1em;
	margin-bottom: 1em;
	border: none;
	border-radius: 4px;
}

.guidelines-container {
	float: right;
	background-color: rgba(153,212,255,0.8);
	width: 30%;
	height: 300px;
	margin-right: 10vw;
}

.guidelines-title {
	padding: 0.90em;
	font-size: 2.25vw;
	color: #111;
}

.guidelines {
	padding-left: 7%;
	padding-right: 7%;
	text-align: justify;	
	color: #111;
}

h1, label {
	color: #9fa6ad;
}