<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>CrowdDraft</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">
        <link href="../static/css/create-proposal.css" rel="stylesheet">

        <style>
            body {
                background-color: #242729;
                color: #99d4ff;
            }
        </style>
    </head>

    <body ng-app="app">
        <!-- Navigation -->
        <nav class="navbar fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/" style="padding:0px;"><span>
                    <img id="logo" src="../static/img/logo.png">    </span>CrowdDraft</a>
                <div class="navbar-content">
                    <a class="nav-link" href="/">Blaise Cruz</a>
                    <a class="nav-link" href="/">LOGOUT</a>
                </div>
            </div>
        </nav>

        <!-- Page Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <div class="site-heading">
                            <h1>Create Proposal</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="guidelines-container">
            <p class="guidelines-title">Proposal Guidelines</p>
            <p class="guidelines">Is your proposal feasible?

We prefer proposals that can be implemented, not just discussed. &nbsp;

Provide details. Share your insight.

If your question is about the government officials, send them a message instead. </p>
        </div>

        <div id="proposal" class="container" ng-controller="submitController">
            <tbody>
                <tr>
                    <td class="title">
                        <label for="proposal-title" id="title-label">Title</label>
                    </td>
                    <td class="ask-title">
                        <input id="title" type="text" name="proposal-title" ng-model="proposalTitle">
                    </td>
                </tr>
            </tbody>

            <div class="description-container">
                <form>
                    <textarea id="description" name="proposal-description" ng-model="proposalDetails"></textarea> 
                </form>
            </div>

            <div class="tag-container">
                <label for="tags" id="tags-label">Tags</label>
                <input id="tag" type="text" name="tags" ng-model="proposalTags">
            </div>

            <button class="button submit-proposal" ng-click="submitProposal()">Submit Proposal</button>
        </div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <!--
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        -->
                        <p class="copyright text-muted">Copyright &copy; CrowdDraft 2017</p>
                    </div>
                </div>
            </div>
        </footer>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>
